.profile__info {
  width: 100%;
  margin: 0;
  display: grid;
  align-self: center;
  align-items: center;
  grid-template-columns: 1fr 24px;
  column-gap: 18px;
  row-gap: 16px;
}

@media screen and (max-width: 568px) {
  .profile__info {
    grid-template-columns: 1fr 18px;
    row-gap: 8px;
  }
}
