.card__like-button {
  width: 22px;
  height: 19px;
  background: url("../../../images/like.svg");
  background-position: 100%;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  box-sizing: border-box;
  transition: opacity .3s linear;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: .5;
}
