.cards {
  width: calc(100% - 2 * 200px);
}

@media screen and (max-width: 1280px) {
  .cards {
    width: calc(100% - 2*120px);
  }
}

@media screen and (max-width: 1140px) {
  .cards {
    width: calc(100% - 2*50px);
  }
}

@media screen and (max-width: 568px) {
  .cards {
    width: calc(100% - 2*19px);
  }
}
