.footer {
  width: calc(100% - 2 * 200px);
  box-sizing: border-box;
  flex-shrink: 0;
}

@media screen and (max-width: 1140px) {
  .footer {
    width: calc(100% - 2*100px);
  }
}

@media screen and (max-width: 984px) {
  .footer {
    width: calc(100% - 2*50px);
  }
}

@media screen and (max-width: 568px) {
  .footer {
    width: 100%;
  }
}
