.card__delete-button {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 18px;
  height: 19px;
  background: url("../../../images/delete-button.svg");
  background-position: 100%;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  box-sizing: border-box;
  transition: opacity .3s linear;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: .6;
}
