/* normalize */
@import url('./vendor/normalize.css');

/* fonts */
@import url('./vendor/fonts/fonts.css');

/* page */
@import url('./blocks/page/page.css');
@import url('./blocks/page/__header/page__header.css');
@import url('./blocks/page/__footer/page__footer.css');

/* content */
@import url('./blocks/content/content.css');
@import url('./blocks/content/__profile/content__profile.css');
@import url('./blocks/content/__cards/content__cards.css');

/* header */
@import url('./blocks/header/header.css');
@import url('./blocks/header/_type/header_type_mobile.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/header/__menu/header__menu.css');
@import url('./blocks/header/__menu-mobile-container/header__menu-mobile-container.css');
@import url('./blocks/header/__menu-mobile/header__menu-mobile.css');
@import url('./blocks/header/__auto-menu/header__auto-menu.css');
@import url('./blocks/header/__auto-menu/_opened/header__auto-menu-btn_opened.css');
@import url('./blocks/header/__email/header__email.css');
@import url('./blocks/header/__out-button/header__out-button.css');
@import url('./blocks/header/__link/header__link.css');

/* profile */
@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__add-button/profile__add-button.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__avatar-img/profile__avatar-img.css');
@import url('./blocks/profile/__avatar-button/profile__avatar-button.css');
@import url('./blocks/profile/__card/profile__card.css');
@import url('./blocks/profile/__description/profile__description.css');
@import url('./blocks/profile/__edit-button/profile__edit-button.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__title/profile__title.css');

/* cards */
@import url('./blocks/cards/cards.css');
@import url('./blocks/cards/__list/cards__list.css');

/* card */
@import url('./blocks/card/card.css');
@import url('./blocks/card/__image/card__image.css');
@import url('./blocks/card/__wrapper/card__wrapper.css');
@import url('./blocks/card/__title/card__title.css');
@import url('./blocks/card/__likes/card__likes.css');
@import url('./blocks/card/__like-button/card__like-button.css');
@import url('./blocks/card/__likes-counter/card__like-counter.css');
@import url('./blocks/card/__like-button/_active/card__like-button_active.css');
@import url('./blocks/card/__delete-button/card__delete-button.css');

/* footer */
@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__text/footer__text.css');

/* popup */
@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/popup/_type/popup_type_expand-image.css');
@import url('./blocks/popup/__box/popup__box.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/__close/popup__close.css');
@import url('./blocks/popup/__image-container/popup__image-container.css');
@import url('./blocks/popup/__figure/popup__figure.css');
@import url('./blocks/popup/__image/popup__image.css');
@import url('./blocks/popup/__caption/popup__caption.css');
@import url('./blocks/popup/__auth/popup__auth.css');
@import url('./blocks/popup/__auth-icon/popup__auth-icon.css');
@import url('./blocks/popup/__auth-text/popup__auth-text.css');

/* form */
@import url('./blocks/form/form.css');
@import url('./blocks/form/__input/form__input.css');
@import url('./blocks/form/__input/_type/form__input_type_error.css');
@import url('./blocks/form/__input-error/form__input-error.css');
@import url('./blocks/form/__input-error/_active/form__input-error_active.css');
@import url('./blocks/form/__submit/form__submit.css');
@import url('./blocks/form/__set/form__set.css');

/* login */
@import url('./blocks/login/login.css');
@import url('./blocks/login/__title/login__title.css');
@import url('./blocks/login/__form/login__form.css');
@import url('./blocks/login/__input/login__input.css');
@import url('./blocks/login/__submit/login__submit.css');
@import url('./blocks/login/__link/login__link.css');
@import url('./blocks/login/__link-text/login__link-text.css');
@import url('./blocks/login/__input-error/login__input-error.css');

#root {
    background-color: #000;
}
